.father {
  display: flex;
  height:100vh;
  flex-direction: row-reverse;
  gap: 10px;
  justify-content: flex-start;
}

.box {
  width: 200px;
  height: 200px;
  background-color:tomato;
  color: white;
  font-size: 36px;
  display:flex;
  justify-content: center;
  align-items: center;
}